@using MyVidly.Models
@model IEnumerable<MyVidly.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer List</h2>
@Html.ActionLink("Add customer", "CustomerForm", "Customer", null)

@{
    if (Model.ToList().Count == 0)
    {
        <b>No customer</b>
    }
    else
    {
        <table id="Customers" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Membership Type</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(customer.Name, "Details", "Customer", new { customer.Id }, null)</td>
                        <td>@customer.MembershipType.Name</td>
                        <td>@Html.ActionLink("Edit", "Edit", "Customer", new {customer.Id}, null)</td>
                        <td><button data-customer-id="@customer.Id" class="btn-link js-delete" >Delete</button></td>
                    </tr>
                }
            </tbody>
        </table>

    }
}
@section scripts
{
    <script>
        $(document).ready(function () {
            $('#Customers').DataTable();
            $("#Customers").on("click", ".js-delete", function() {
                var button = $(this);
                bootbox.confirm("Want to delete the customer?", function(result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function() {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });
            });
        });
    
    </script>
}
